.jumbotron {
    padding-top: 5rem;
    background-color: #6e5a47;
}
.textname {
    background-color: white;
}
.fontlogo {
  font-family: "Emilys Candy", serif;
  font-weight: 400;
  font-style: normal;
}
.textbiasa {
  font-family: "Lancelot", serif;
  font-weight: 500;
  font-style: normal;
}
.judul {
  font-family: "Eagle Lake", serif;
  font-weight: 400;
  font-style: normal;
}
#project {
  padding-top: 5rem;
}
#project img  {
  height: 340px;
	width: auto;
}
.color {
  background-color: #f3f4f5;
}
#gallery {
 padding-top: 5rem;
} 
#gallery img {
  height: 500px;
	width: auto;
}
.tengah {
  text-align: justify;
}
#contact {
  padding-top: 5rem;
}
.coklat {
    background-color: #6e5a47;
}
.tbrwn  {
    color: #6e5a47;
}
.putih {
  color: #f3f4f5;
}